@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Danh sách nội dung</h1>
    </div>
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            @using (Html.BeginForm("Index", "Content", FormMethod.Get))
            {
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" name="searchString" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            }
            <h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("+ Thêm mới nội dung", "Create", "Content")</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>MetaTitle</th>
                            <th>Description</th>
                            <th>Detail</th>
                            <th>Status</th>
                            <th>Tag</th>
                            <th>Tùy chọn</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <th>@item.Name</th>
                                <td>@item.MetaTitle</td>
                                <td>@item.Description</td>
                                <td>@item.Detail</td>
                                <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Hoạt động" : "Khóa")</a></td>
                                <td>@item.Tags</td>
                                
                                <td>
                                    <a href="/Admin/Content/Edit/@item.ID">Chỉnh sửa | </a>
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</body>
</html>
