
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.ListFeatureProducts;
}
@section Menu{
    <div class="header_bottom_left">
        <div class="categories">
            <ul>
                @{
                    Html.RenderAction("ProductCategory", "Product");
                }
            </ul>
        </div>
    </div>
}
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="~/Assets/Client1/images/baner1.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Techshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="~/Assets/Client1/images/baner2.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Techshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="~/Assets/Client1/images/b.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Techshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
}
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Mew Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="section group">
            @foreach (var item in listNewProducts)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                @*<div class="row special-list">
                    <div class="col-lg-3 col-md-6 special-grid best-seller">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                </div>
                                <img src="@item.Image" class="img-fluid" alt="@item.Name">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="@url" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="/them-vao-danh-sach-yeu-thich?productId=@item.ID&quantity=1" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="/them-gio-hang?productId=@item.ID&quantity=1">Add to Cart</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <h5>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</h5>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="grid_1_of_5 images_1_of_5" style="width:200px; height:220px">
                    <div class="products-single fix">
                        <div class="box-img-hover" style="height:130px">
                            <img src="@item.Image"  style="height:130px" class="img-fluid" alt=""/>
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="@url" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="/them-vao-danh-sach-yeu-thich?productId=@item.ID&quantity=1" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    <li>
                                        <a href="/them-gio-hang?productId=@item.ID&quantity=1" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="fas fa-cart-plus"></i></a>
                                    </li>
                                </ul>
                                <a class="cart" href="@url">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</a>
                            </div>
                        </div>
                    </div>
                    <h2><a style="font-size:13px;color:black" href="@url">@item.Name</a></h2>
                </div>
            }
        </div>
    </div>

