@model List<Model.EF.Product>
@{
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <div class="header_bottom_left">
        <div class="categories">
            <ul>
                @{
                    Html.RenderAction("ProductCategory", "Product");
                }
            </ul>
        </div>
    </div>
}
<!--Trang loai san pham-->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Our Products</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button>@category.Name</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section group">
            @foreach (var item in Model)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="grid_1_of_5 images_1_of_5" style="width:220px; height:220px">
                    @*<a href="@url"><img  style="height:200px" src="@item.Image" alt="" /></a>
                        <h2><a style="font-size:15px" href="@url">@item.Name</a></h2>
                        <div style="height:50px" class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">+Cart</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>*@
                    <div class="products-single fix">
                        <div class="box-img-hover" style="height:190px">
                            <img src="@item.Image" class="img-fluid" alt="" />
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="@url" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="/them-vao-danh-sach-yeu-thich?productId=@item.ID&quantity=1" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    <li>
                                        <a href="/them-gio-hang?productId=@item.ID&quantity=1" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="fas fa-cart-plus"></i></a>
                                    </li>
                                </ul>
                                <a class="cart" href="@url">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</a>
                            </div>
                        </div>
                    </div>
                    <h2><a style="font-size:15px" href="@url">@item.Name</a></h2>
                </div>
            }

        </div>
    </div>
    <div class="section group">
        @if (ViewBag.TotalPage > 1)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = ((int)ViewBag.Page);

            // Create numeric links
            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

            var link = "/san-pham/" + category.MetaTitle + "-" + category.ID;
            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li>
                            <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                        </li>

                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                            <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                    }

                </ul>
            </nav>

        }
        else
        {
            <span></span>
        }
    </div>
</div>
